<!DOCTYPE html>
<html>
<head>
	<meta charset='UTF-8' />
	<title>Convert Money</title>
	<link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
</head>


<body class='container'>

<label>Enter your amount in Euro </label>


<form action='' method='post'>
	<input  name="amount" min="0" required>
	<button type='submit' class='btn btn-primary'> >> </button>
	<input  name="usd" readonly>
	<input  name="chf" readonly>
</form>
<br>
<br>
<form action='/Operations' method='post'>
	<button type='submit' class='btn btn-primary'>Display all operations</button>
</form>
</body>
</html>