<!DOCTYPE html>
<html>
<head>
	<meta charset='UTF-8' />
	<title>Convert Money</title>
	<link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
</head>


<body class='container'>

<label>Enter your amount </label>

<form action='/new'class="new_convertion" id="new_convertion" method='post'>
	<input  id="convertion_amount" name="convertion[amount]" min="0" required>
	<button type='submit' class='btn btn-primary'> >> </button>
	<input  id="convertion_result_usd" name="convertion[result_usd]" >
	<input  id="convertion_result_chf" name="convertion[result_chf]" >
</form>
<br>
<br>
<form action='/Operations' method='post'>
	<button type='submit' class='btn btn-primary'>Display all operations</button>
</form>
</body>
</html>