<!DOCTYPE html>
<html>
<head>
	<meta charset='UTF-8' />
	<title>Convert Money</title>
	<link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
</head>
<body class='container'>

<label>Enter your amount in Euro </label>
<input type="text">
	<select>
		<option value="1">USD</option>
		<option value="2">CHF</option>
	</select>
<form action='' method='post'>
	<button type='submit' class='btn btn-primary'>Convert</button>
</form>
<input type="text">
</body>
</html>